<nav class="pt-3 d-flex">
<div class="container mb-1 d-flex justify-content-between align-items-center">
    <h1 class="me-5 p-0">V<span>I</span>P</h1>

    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent w-100">
        <div class="container-fluid">
          <button class="navbar-toggler ms-auto mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div>
                <ul class="list-unstyled d-flex">
                    <li class="mx-2">
                      <a  *ngIf="isLogin" routerLink="home" routerLinkActive="active-route">Home</a>
                    </li>
                    <li class="mx-2">
                      <a *ngIf="isLogin" routerLink="movies" routerLinkActive="active-route">Movies</a>
                    </li>
                    <li class="mx-2">
                      <a *ngIf="isLogin" routerLink="tv" routerLinkActive="active-route">Tv</a>
                    </li>
                    <li class="mx-2">
                      <a *ngIf="isLogin" routerLink="about" routerLinkActive="active-route">about</a>
                    </li>
                    
                  </ul>
            </div>

            <div class="contact-div d-flex ms-auto">
                <ul class="list-unstyled d-flex">
                    <li class="mx-2">
                        <i class="fab fa-facebook"></i>
                    </li>
            
                    <li class="mx-2">
                        <i class="fab fa-instagram"></i>
                    </li>
            
                    <li class="mx-2">
                        <i class="fab fa-youtube"></i>
                    </li>
            
                    <li class="mx-2">
                        <i class="fab fa-twitter"></i>
                    </li>
                </ul>
            
                <ul class="list-unstyled d-flex">
                    <li class="mx-2">
                        <a *ngIf="!isLogin" routerLink="login" routerLinkActive="active-route">Login</a>
                    </li>
                    <li class="mx-2">
                        <a *ngIf="!isLogin" routerLink="register" routerLinkActive="active-route">Register</a>
                    </li>
                    <li class="mx-2">
                        <span *ngIf="isLogin">Hello {{userInfo.first_name}}</span>
                    </li>
                    <li class="mx-2">
                        <a (click)="signOut()" *ngIf="isLogin" routerLink="Logout" routerLinkActive="active-route">Log out</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </nav>

            <!-- <div class="d-flex">  
                <ul class="list-unstyled d-flex">
                    <li class="mx-2">
                        <a *ngIf="isLogin" routerLink="home" routerLinkActive="active-route">Home</a>
                    </li>
                     <li class="mx-2">
                        <a *ngIf="isLogin" routerLink="movies" routerLinkActive="active-route">Movies</a>
                    </li>
                    <li class="mx-2">
                        <a *ngIf="isLogin" routerLink="tv" routerLinkActive="active-route">Tv</a>
                    </li>
                    <li class="mx-2">
                        <a *ngIf="isLogin" routerLink="about" routerLinkActive="active-route">about</a>
                    </li>
                </ul>
            </div> -->
        
            
        </div>
    </nav>