/* You can add global styles to this file, and also import other style files */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;700&display=swap');


body {
    background-color: rgb(7, 7, 7);
    color:white;
    font-family: 'Montserrat Alternates', sans-serif;
}

a{
    color:white !important;
    text-decoration: none;
    transition: all 0.3s ease;
}
nav a:hover{
    color:rgb(151, 23, 23) !important
}

.pointer{
    cursor: pointer;
}
i{
    transition: all 0.3s ease;
    cursor: pointer;
}
nav i:hover {
    color:rgb(151, 23, 23) !important

}

ul{
    text-decoration: none;
    list-style-type: none;
}


.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #550000;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}


.card{
    background-color: #0e0000 !important;
    box-shadow: 1px 0px 2px #4300007b,
                1px 0px 1px #31000093
    ;
}