
<header class="vh-100 d-flex align-items-end pb-5">
  <div class="container">
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let movie of trendingTv" class="position-relative">
          <ng-template carouselSlide [id]="movie.id" class="item position-relative">
            <img class="w-100" [src]="imgPrefix+movie.poster_path" [title]="movie.title">
            <div class="overlay d-flex justify-content-end align-items-start" [routerLink]="['/movieDetails', movie.id]">
                <p class="fs-4 rate">{{movie.vote_average | number:'1.0-1'}}</p>
            </div>
          </ng-template>


        </ng-container>
    
      </owl-carousel-o>
  </div>
</header>





<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-md-4 d-flex align-items-center">
            <div>
                <h3 class="animate-charcter">Trending Movies</h3>
            </div>
        </div>
        <div *ngFor="let movie of trendingMovies" class="col-xl-2 col-md-4 col-sm-6">
            <a [routerLink]="['/movieDetails', movie.id]" class="photoLink">
                <div class="item position-relative">
                    <img [src]="imgPrefix+movie.poster_path" class="w-100 mb-2" alt="">
                    <div class="overlay d-flex justify-content-end ">
                        <p class="fs-4 rate">{{movie.vote_average | number:'1.0-1'}}</p>
                        <p class="details text-center align-self-center">Click for more details</p>
                    </div>
                </div>
                <h3 class="movie-title h4 text-center mb-4">{{movie.title}}</h3>
            </a>

            
        </div>
        
    </div>
    
    <div class="row mb-5">
        <div class="col-md-4 d-flex align-items-center flex-wrap">
            <div>
                <h3 class="animate-charcter">Trending Series</h3>
            </div>
        </div>
        <div *ngFor="let movie of trendingTv" class="col-xl-2 col-md-4 col-sm-6">
            <a [routerLink]="['/movieDetails', movie.id]" class="photoLink">
                <div class="item position-relative">
                    <img [src]="imgPrefix+movie.poster_path" class="w-100 mb-2" alt="">
                    <div class="overlay d-flex justify-content-end align-items-start">
                        <p class="fs-4">{{movie.vote_average | number:'1.0-1'}}</p>
                        <p class="details text-center align-self-center">Click for more details</p>
                    </div>
                    
                </div>
                <h3 class="movie-title h4 text-center mb-4">{{movie.name}}</h3>

            </a>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col-md-4 d-flex align-items-center">
            <div>
                <h3 class="animate-charcter">Trending Actors</h3>
            </div>
            
        </div>
        <div *ngFor="let person of trendingPerson" class="col-xl-2 col-md-4 col-sm-6">
            <div class="item">
                <img [src]="person.profile_path" class="w-100 mb-2" alt="">
                <h3 class="h4 text-center mb-4">{{person.name}}</h3>
                
            </div>
        </div>
    </div>
    
</div>